.badge-gold {
	color: #212529;
	background-color: #FFDF00;
}

.badge-platinum {
	color: #212529;
	background-color: #e5e4e2
}

.badge-bronze {
	color: #ffffff;
	background-color: #cd7f32
}

.badge-silver {
	color: #1a1818;
	background-color: #C0C0C0
}

.badge-energizing {
	color: #fff;
	background-color: #3fb65b
}

.input-group-focus {
	border-radius: 4px;
	-webkit-transition: box-shadow ease-in-out .15s;
	transition: box-shadow ease-in-out .15s;
}

.input-group-addon {
	-webkit-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s;
}

.input-group.input-group-focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6) !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6) !important;
}

.has-error.input-group.input-group-focus,
.has-error .input-group.input-group-focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483 !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483 !important;
}

.has-warning.input-group.input-group-focus,
.has-warning .input-group.input-group-focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168 !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168 !important;
}

.has-success .input-group.input-group-focus,
.has-success .input-group.input-group-focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b !important;
}

.input-group-focus input:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.input-group-focus .input-group-addon {
	border-color: #D1D3CE !important;
}

.has-error .input-group-addon {
	border-color: #843534 !important;
}

.input-group-addon.is-invalid {
	border-color: #dc3545 !important;
}

.has-success .input-group-addon {
	border-color: #2b542c !important;
}

.has-warning .input-group-addon {
	border-color: #66512c !important;
}

.hide {
	display: none;
}

label.error-msg {
	color: #e74a3b;
}

input[type=tel].error-msg {
	border: 1px solid #e74a3b;
	padding-right: calc(1.5em + .75rem);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e74a3b' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23e74a3b' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
	background-repeat: no-repeat;
	background-position: center right calc(.375em + .1875rem);
	background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

span.valid-msg {
	color: #28A745;
}

span.error-msg {
	color: #e74a3b;
}

div.error-msg {
	color: #e74a3b;
}

.tooltip-wrapper {
	display: inline-block;
	/* display: block works as well */
	/* margin: 50px; */
	/* make some space so the tooltip is visible */
}

.tooltip-wrapper .btn[disabled] {
	/* don't let button block mouse events from reaching wrapper */
	pointer-events: none;
}

.tooltip-wrapper a.btn.disabled {
	/* don't let button block mouse events from reaching wrapper */
	pointer-events: none;
}

.tooltip-wrapper form button.btn.disabled {
	/* don't let button block mouse events from reaching wrapper */
	pointer-events: none;
}

.tooltip-wrapper.disabled {
	/* OPTIONAL pointer-events setting above blocks cursor setting, so set it here */
	cursor: not-allowed;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: darkblue;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid darkblue;
	/* transition: .3s ease all; */
}

.card-header .fas {
	transition: .3s transform ease-in-out;
}

.card-header .collapsed .fas {
	transform: rotate(90deg);
}

.border-left-purple {
	border-left: 0.25rem solid #9829fa !important;
}

.text-purple {
	color: #9829fa !important;
}

a.text-purple:hover,
a.text-purple:focus {
	color: #7910d4 !important;
}

.border-left-orange {
	border-left: 0.25rem solid #f77a28 !important;
}

.text-orange {
	color: #f77a28 !important;
}

a.text-orange:hover,
a.text-orange:focus {
	color: #e96913 !important;
}

.border-left-chocolate {
	border-left: 0.25rem solid chocolate !important;
}

.text-chocolate {
	color: chocolate !important;
}

a.text-chocolate:hover,
a.text-chocolate:focus {
	color: rgb(187, 83, 8) !important;
}

.border-left-cadetblue {
	border-left: 0.25rem solid cadetblue !important;
}

.text-cadetblue {
	color: cadetblue !important;
}

a.text-cadetblue:hover,
a.text-cadetblue:focus {
	color: rgb(69, 148, 151) !important;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
	width: 26px;
	border-radius: 13px;
	background-clip: padding-box;
	border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 0 10px;
}

.sidebar,
.sidebar.toggled {
	transition: all 0.5s;
	-webkit-transition: all 0.3s;
}